VITE_API_GATEWAY_URL=http://localhost:8091
VITE_KEYCLOAK_BASE_URL=http://localhost:8090
VITE_KEYCLOAK_REALM=sello-legitimo-auth
VITE_KEYCLOAK_CLIENT_ID=frontend-gestion-pre-electoral
VITE_KEYCLOAK_SCOPE=openid profile email
